<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}Moto Garage{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/site.css" />
  </head>

  <body>
    <header>
  <a href="{% url 'garage:home' %}">Moto Garage</a>

  {% if user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
    <a href="{% url 'garage:motorcycle_list' %}">
    My Motorcycles
    </a>
  {% else %}
    <a href="{% url 'garage:login' %}">Login</a>
    <a href="{% url 'garage:signup' %}">Sign Up</a>
  {% endif %}
</header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>